---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/events.json?apikey=<apikey>&city=&classificationName=music&countryCode=US&keyword=Ranchero&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - application:default,prod1-us-east-1,docker:8080
      Rate-Limit:
      - '5000'
      Rate-Limit-Available:
      - '4952'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1669145893503'
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/discovery/v2/events.json?size=10&countryCode=US&classificationName=music&keyword=Ranchero"}},"page":{"size":10,"totalElements":0,"totalPages":0,"number":0}}'
  recorded_at: Tue, 22 Nov 2022 19:32:41 GMT
recorded_with: VCR 6.1.0
