---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/events.json?apikey=<apikey>&city=&classificationName=music&countryCode=US&keyword=Seattle&locale=*&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Application-Context:
      - application:default,prod1-us-east-1,docker:8080
      Rate-Limit:
      - '5000'
      Rate-Limit-Available:
      - '4950'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1669232293503'
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":{"events":[{"name":"Seattle Symphony","type":"event","id":"Z7r9jZ1Ad_pvy","test":false,"url":"https://www.ticketmaster.com/event/Z7r9jZ1Ad_pvy","locale":"en-us","images":[{"ratio":"16_9","url":"https://s1.ticketm.net/dam/c/f7b/ef64d601-8740-43cd-86ea-ed9b392e4f7b_105961_RETINA_LANDSCAPE_16_9.jpg","width":1136,"height":639,"fallback":true},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/c/f7b/ef64d601-8740-43cd-86ea-ed9b392e4f7b_105961_RECOMENDATION_16_9.jpg","width":100,"height":56,"fallback":true},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/c/f7b/ef64d601-8740-43cd-86ea-ed9b392e4f7b_105961_EVENT_DETAIL_PAGE_16_9.jpg","width":205,"height":115,"fallback":true},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/c/f7b/ef64d601-8740-43cd-86ea-ed9b392e4f7b_105961_RETINA_PORTRAIT_16_9.jpg","width":640,"height":360,"fallbac[...]
